exercises/W03Exercises/stars.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "star-catalog">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="star" maxOccurs = "unbounded">
	<xs:complexType>
	  <xs:attribute name="StarID" type="xs:positiveInteger"/>
	  <xs:attribute name="right-ascension" type="xs:double"/>
	  <xs:attribute name="declination" type="xs:double"/>
	  <xs:attribute name="distance" type="xs:string"/>
	  <xs:attribute name="parallax" type="xs:double"/>
	  <xs:attribute name="magnitude" type="xs:double"/>
	</xs:complexType>	      
      </xs:element>		      
    </xs:sequence>
  </xs:complexType>
</xs:element>
  
</xs:schema>
  
